<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Generador de C贸digo QR</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Generador de C贸digo QR</h1>

    <form action="/generate" method="post">
        
        <textarea name="qrText" id="qrText" placeholder="Ingrese el texto para generar el QR"><%= typeof qrText !== 'undefined' ? qrText : '' %></textarea>
        <button type="submit">Generar QR</button>
    </form>

    <div id="qrcode-container">
     
            <% if (qrCode) { %>
            <h2>C贸digo QR Generado:</h2>
            <img src="<%= qrCode %>" alt="C贸digo QR">
        <% } %>

    </div>

</body>
</html>
